{{/* use the template called base and include the data that's passed (from handlers) */}}
{{/* . means the data is available for the entire template */}}
{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is the about page</h1>
                <p>Hi {{.Name}}! This name is coming from handlers pkg.</p>
            </div>
        </div>
    </div>
{{end}}